@import '_colors';
@import '_carasel', '_navbar';
body{
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
}

body {
    background-color: $background;
    color: $text;
}

.website-section{
    height: 80vh;
    padding: 1rem;
    background-color: $background;
    margin: 2rem;

    h1{
        text-decoration-thickness: 3px;
        font-size: 3rem;
    }

    &:nth-child(odd){
        text-align: right !important;
    }
    &:nth-child(even){
        text-align: left !important;
    }
}
