@import '_colors';
@import '_carasel', '_navbar';
body{
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
}

body {
    background-color: $background;
    color: $text;
}

.website-section{
    height: 85vh;
    padding: 1rem;
    background-color: $background;
    position: relative;
    margin: 2rem;

    &:nth-child(odd){
        h1{
            right: -100%;
        }
    }
    &:nth-child(even){
        h1{
            left: -100%;
        }
    }

    h1{
        width: max-content;
        position: absolute;
        opacity: 0%;
        transition: opacity left right 1s ease-out;

        text-decoration-thickness: 3px;
        font-size: 3rem;
    }

    
}




.active{
    h1{
        opacity: 100%;
    }
    &:nth-child(odd){
        h1{
            right: 0px;
        }
    }
    &:nth-child(even){
        h1{
            left: 0px;
        }
    }

}