$text: #ffee71;
$background: #161613;
$primary: #333339;
$secondary: #24241e;
$accent: #7e7f91;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.navbar{
    background-color: $background;


    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: auto 1fr repeat(3, minmax(2rem, 10rem)) 4rem;

    
    justify-content: center;
    align-items: center;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100vw;
    height: 5rem;

    border-bottom: white 2px solid;
}


.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 2rem;
    }

    img {
        aspect-ratio: 1/1;
        height: 4rem;
    }

    margin-left: 1rem;
}



.dropdown{
    color: $text;
    border-radius: 1rem;
    position: relative;

    font-weight: 300;
    text-align: center;

    margin-inline: 0.2rem;
    padding: 0.1rem;
    height: 4rem;

    p{
        position: relative;
        transform: translateY(-50%);
        top: 50%;

        font-size: 1.3rem;
        cursor: pointer;
        color: white;
    }


    &:focus{
        outline: none;
        border: solid #666 4px;
    }

    &:hover{
        filter: brightness(60%);

    }
}

.dropdown-content{
    display: none;
    transform: translateX(50%);

    background-color: $primary;
    position: absolute;
    top: 4rem;
    right: 50%;

    width: 10rem;
    float: right;
    flex-direction: column;

    border-radius: 1rem;
    
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:focus-within .dropdown-content {
    display: flex;
}

.dropdown:focus .dropdown-content {
    display: flex;
}

.navbutton{
    background-color: $primary;
    color: $text;
    border: none;
    opacity: 100%;
    font-size: 1rem;
    padding: 0.1rem;

    margin-block: 0.2rem;

    &:last-child{
        border-bottom: none;
    }

    &:hover{
        color: rgba(255, 255, 255, 0.647);
    }

}