<div class="blog">
    <img class="left" src="/files/pics/<%= img %>.jpeg" alt="blog">
    
    
    <div class="right">
        <h2><%= title %></h2>
        <div class="share">
            <img src="/files/icons/instagram.png" alt="instagram">
            <img src="/files/icons/mail.png" alt="email">
            <img src="/files/icons/whatsapp.png" alt="whatsapp">
            <img src="/files/icons/twitter.png" alt="twitter">
        </div>
        <p class="text">
            <%= description %>
        </p>
    </div>
</div>