<link rel="stylesheet" href="styles/footer.css">
<footer>
    <h1>Contact Us</h1>
    <div class="content">
        <div class="left">
            <div class="big"><span><img src="files/icons/mail.png" alt="icon"></span> careforall1000plus@gmail.com</div>
            <div class="big"><span><img src="files/icons/phone-r.png" alt="icon"></span>+91 8197782013</div>
            <div></div>
            <div><span><a target="_blank" href="https://instagram.com/careforall1000?igshid=OGQ5ZDc2ODk2ZA=="><img src="files/icons/instagram.png" alt="icon"></a></span></div>
            <div><span><a target="_blank" href="https://www.youtube.com/@CareForAll_1000"><img src="files/icons/youtube.png" alt="icon"></a></span></div>
            <div><span><a target="_blank" href="https://twitter.com/Careforall1000"><img src="files/icons/twitter.png" alt="icon"></a></span></div>
        </div>
        <form class="right">
            <div class="form_wrapper">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>

            <div class="form_wrapper">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>

            <label for="msg"></label>
            <textarea id="msg" name="msg" rows="4" placeholder="Enter Your Message Here"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</footer>