<link rel="stylesheet" href="styles/navbar.css">
<nav class="navbar">
    <div class="logo"><img src="files/logo.png" alt="Care For All Logo"><p>CareForAll</p></div>
    <div></div>
    <div class="dropdown"><p>ABOUT US</p>
        <div class="dropdown-content">
            <a class="navbutton" href="#mission">Our Mission</a>
            <a class="navbutton" href="#journey">Our Journey</a>
            <a class="navbutton" href="#unique">What Makes Us Unique</a>
            <a class="navbutton" href="#team">Our Team</a>
        </div>
    </div>
    <div class="dropdown"><p>OUR WORK</p>
        <div class="dropdown-content">
            <a class="navbutton" href="#done_so_far">What we've done</a>
            <a class="navbutton" href="#collaborations">Our Collaborations</a>
        </div>
    </div>
    <div class="dropdown"><p>FUNDRAISING</p>
    </div>
    <div class="dropdown"><p>VOLUNTEER</p>
    </div>

    <div class="dropdown"><p>DONATE NOW</p></div>
</nav>