@media screen and (width > 800px){
    :root {
        --width: 80vw;
    }
}

@media screen and (width <= 800px){
    :root {
        --width: 70vw;
    }
}


$active: #2C3E50;
$inactive: #AEB6BF;

$events: 6;
$timeline_width: var(--width);
$half_timeline_width: calc($timeline_width / calc(2 * $events));

$event_width: clamp(1.5rem, 4vw, 2.5rem);
$trans_time: 0.25s;

.entire_timeline{
    margin-block: 0rem;
}


.timeline{
    display: flex;
    flex-direction: row;
    width: $timeline_width;

    margin-inline: auto;

    justify-content: space-between;

    position: relative;
    z-index: 0;

    margin-block: 7rem;
}



.event{
    box-sizing: border-box;
    width: $event_width;
    height: $event_width;
    border-radius: 50%;
    background-color: $active;
    position: relative;



    &:first-child::before, &:last-child::after{
        display: none;
    }


    &::before {
        left: calc(calc($half_timeline_width * -1) + calc($event_width / 2));
    }

    &::after {
        right: calc(calc($half_timeline_width * -1) + calc($event_width / 2));
    }

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -2;
        top: 50%;
        transform: translateY(-50%);
        background-color: $active;
        
        width: $half_timeline_width;
        height: 5px;
      }
      
}

.event.active::after {
    background-color: #AEB6BF;
}

.event.active ~ .event, .event.active ~ .event::before, .event.active ~ .event::after {
    background-color: #AEB6BF;
}


.event:not(.not_end) span::before{
    width: max-content;
    content: attr(data-info);
}

.not_end span::before {
    content: attr(data-info);
}

.not_end span::after {
    content: attr(data-year);
}

$font_size: clamp(0.3rem, 2.5vw, 1rem);

.event span::before, span::after {
    font-size: $font_size;

    transform: translate(-50%, -50%);
    left: 50%;
    

    text-align: center;

    visibility: visible;
    position: absolute;

    width: min(calc(calc($half_timeline_width * 4) - 1rem), 15ch);
    transition: all $trans_time ease-out;
}

.not_end span::after{
    font-size: calc($font_size * 1.2);
    font-weight: 100;
    color: #fff;

}

.not_end:hover > span::before{
    font-size: calc($font_size * 1.2);
}
.not_end:hover > span::after {
    font-size: calc($font_size * 1.4);
}


.event:first-child span::before, .event:last-child span::before {
    top: 50%;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
}

.event:first-child span::before {
    transform: translate(-100%, -50%) !important;
    left: calc(clamp(0.1rem, 1vw, 1rem) * -1);
}

.event:last-child span::before {
    transform: translate(0%, -50%) !important;
    left: calc($event_width + clamp(0.1rem, 1vw, 1rem));
}



.not_end:nth-child(odd) span::before {
    top: calc(100% + 1.4rem);
}

.not_end:nth-child(even) span::before {
    top: calc(0% - 1.4rem);
}



.not_end:nth-child(even) span::after {
    top: calc(100% + 1.4rem);
}

.not_end:nth-child(odd) span::after {
    top: calc(0% - 1.4rem);
}

@media screen and (width < 1100px){
    .not_end span::after {
        display: none;
    }
}


.not_end>span{
    width: $event_width;
    height: $event_width;
    position: absolute;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    display: block;
    border-radius: 50%;
    background-color: inherit;

    transition: all $trans_time ease-out;
    &:hover{
        cursor: pointer;
        width: calc($event_width * 1.2);
        height: calc($event_width * 1.2);
    }

}


.journey_content{
    margin-block: 2rem;
    margin-inline: 5rem;
    display: none;
    &.active{
        display: grid;
    }

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;

    column-gap: 2rem;

    align-items: start;
    justify-items: center;

    h2{
        font-size: 2rem;
        text-transform: capitalize;
    }

    .date{
        font-size: 1.6rem;

        justify-self: center;
        align-self: center;

        color: #aaa;

        // width: 100%;
        // position: relative;
        // transform: translateX(-50%);
        // left: calc(25rem);
    }

    img{
        height: 20rem;
        width: 35rem;
    }

    p{
        align-self: center;

        font-size: 1.3rem;
        line-height: 1.8rem;

        padding: 1rem;
    }

}