@import '../_colors';
@import '_carasel';


.website-section{
    position: relative;
    padding: 1rem;
    background-color: $background;
    
    margin-block: 5rem;
    
    max-width: 1400px;
    margin-inline: auto;
    
    scroll-margin-top: 1rem;


    text-align: center;

    h1{
        font-size: 3rem;
        margin-block: 5rem;

        font-weight: 600;
    }   
}

//Our mission
//What makes us unique
#mission, #unique {
    .simple_content{
        display: flex;
        flex-direction: row;
        align-items: center;


        img{
            margin-inline: 2rem;
            aspect-ratio: auto;
            width: 40rem;

        }
        p{
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 500;
            
            color: #ccc;
            
            margin-inline: 2rem;
        }

    }
}
//timeline
@import '_timeline';



//done_so_far
#done_so_far{
    .content{
        display: grid;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        margin-inline: 12rem;

    }

    .counter{
        align-self: start;
        font-size: 4rem;

        font-weight: 600;

        &:after{
            content: "+";
        }

    }

    .label{
        font-size: 2.5rem;
        align-self: baseline;
    }


    .text{
        font-size: 1.3rem;
        line-height: 2rem;
        margin-inline: 10rem;
        font-weight: 500;
        color: #ccc;

        margin-bottom: 2rem;
    }
}

//Collaborations
#collaborations{
    position: relative;
    height: fit-content;

    .content{
        display: grid;

        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    .collab-idcard{
        display: flex;
        flex-direction: column; 
        
        justify-self: center;

        justify-content: start;
        align-items: center;

        width: 25rem;

        height: 100%;


        h2{
            font-size: 2.4rem;
            height: 7rem;
            line-height: 3rem;

            text-transform: capitalize;
        }

        
        img{
            height: 10rem;
            aspect-ratio: auto;
        }


        p{
            margin-top: 1.5rem;
            width: 70%;
        }

    }

}

//Our Team
#team{
    position: relative;
    height: fit-content;
    
    h1{
        margin-bottom: 1rem;
    }

    .content{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;

        row-gap: 2rem;

        justify-content: center;

        margin-bottom: 5rem;

    }

    .founder{
        grid-column-start: span 3;
    }

    .idcard{
        display: flex;
        flex-direction: column; 
        
        justify-self: center;

        justify-content: start;
        align-items: center;

        width: 30rem;

        height: 100%;


        h2{
            font-size: 1.5rem;
            margin-block: 0.5rem;
        }

        
        img{
            width: 12rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }

        .title{
            color: #888;
            margin  : 0.5rem;
            font-size: 1rem;
        }


        p{
            margin-top: 1rem;
            width: 80%;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.4rem;
            color: #fff;
        }

    }

    .volunteers{
        margin-bottom: 10rem;
        position: relative;

        margin-inline: 5rem;
    }

    h2{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    
    .volunteer{
        display: none;


        white-space: nowrap;
        font-size: 2rem;
        
        height: 5rem;

        margin-inline: 5rem;

        transform: translateX(-50%);

        color: #aaa;

        overflow-x: hidden;
    }

    .active{
        position: absolute;
        display: block;        

        animation: left-right 10s linear forwards;
    }


    @keyframes left-right {
        0%{
            left: 0%;
            opacity: 0%;
        }

        5%{
            opacity: 100%;
        }

        95%{
            opacity: 100%;
        }

        100%{
            left: 100%;
            opacity: 0%;
            display: none;
        }
    }

}

