<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>

    <%- include('partials/header') %>
    <link rel="stylesheet" href="styles/default.css">
    <%- include('partials/navbar') %>

    <link rel="stylesheet" href="styles/blog/index.css">
</head>
<body>

    <h1>Check out our blog!</h1>

    <% blogs.forEach(element => { %>
       <%- include("partials/blog", element) %>     
    <% }); %>

<%- include("partials/footer") %>
</body>
</html>