<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>

    <%- include('partials/header') %>
    <link rel="stylesheet" href="styles/default.css">
    <%- include('partials/navbar') %>

    <link rel="stylesheet" href="styles/blog/index.css">
</head>
<body>

    <h1>Our Blogs</h1>

    <%- include("partials/blog", {
        title: "Our First Blog",
        img: "blog",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aut tenetur sit commodi laudantium natus reprehenderit id, asperiores doloribus officiis est possimus sint alias nostrum architecto corrupti mollitia, dolores minus. Et illum impedit ducimus at optio nam corrupti excepturi magni id possimus officia minima modi sed doloribus officiis dolor odio perspiciatis voluptatibus voluptas atque quisquam vel, consectetur facere tempora. Veniam.",
    }) %>


<%- include("partials/footer") %>
</body>
</html>