<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Donate Now</title>
    <%- include('partials/header') %>
    
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/donate/index.css">

    <%- include('partials/navbar') %>
</head>
<body>
    <div style="height: 5rem;"></div>
    <h1>At CareForAll, we fund all costs pertaining to the camps<br>including additional medicines and treatment from follow-ups<br>leaving no expense for the NGOs and schools we collaborate with to make these camps possible.</h1>
    <h2>Due to this, our funds are constantly strained as we continuously strive to conduct more camps to provide more of the underprivedlegd with medical aid and awareness. Hence, in effort to keep up with this we fundraise in 3 main ways:</h2>
    
    <ul>
        <li><b>Hospital collaborations:</B> We are immensely grateful to a lot of the hospitals and doctors with whom we collaborate as they provide majority of their services, procedures and support at heavily discounted prices</li>
        <li><b>Fundraisers:</b> We hold fundraisers at community festivals where we make and sell baked goods, and arrange games for visitors to have a blast at. All our proceeds from this go towards CareForAll and helping more of the underprivileged</li>
        <li><b>Crowd-funding:</b> Lastly, we depend on YOU to help sustain the various CareForAll's mission and vision to continue helping more. Any donation, regardless of its size, goes a long way in making a difference</li>
    </ul>

    <h3>
        Help us strive towards reaching our goal and impacting more.
    </h3>
    
    <button class="donate" onclick="window.location.href = '/donate'">Donate Now</button>

    <%- include('partials/footer') %>
</body>
</html>