<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fundraising</title>
    <%- include('partials/header') %>
    
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/fundraising/index.css">

    <%- include('partials/navbar') %>
</head>
<body>
    
    <%- include('partials/footer') %>
</body>
</html>