<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fundraising</title>
    <%- include('partials/header') %>
    
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/fundraising/index.css">

    <%- include('partials/navbar') %>
</head>
<body>
    <div style="height: 5rem;"></div>
    <h1>How we raise our funds</h2>
    
    <ul>
        <li>Hospital Colabarations</li>
        <li>Crowd funding</li>
        <li>Community plus friends and family</li>
    </ul>

    <h2>All these camps require a lot of money since
        <br>we fund all the medicine costs ourselves
    </h2>

    <button class="donate">Donate Now!</button>

    <h2>Our upcoming Fundraisers</h2>
    <%- include('partials/footer') %>
</body>
</html>