<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/carasel.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="files/logo.png">
    <title>CareForAll</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
    <script src="scripts/main-page.js" defer></script>
    <script src="scripts/carasel.js" defer></script>
    <script src="scripts/scroll-reveal.js" defer></script>

</head>
<body>
    <div class="navbar">
        <div class="logo"><img src="files/logo.png" alt="Care For All Logo"><p>CareForAll</p></div>
        <div></div>
        <div class="dropdown"><p>ABOUT US</p>
            <div class="dropdown-content">
                <button class="navbutton">Our Mission</button>
                <button class="navbutton">Our Journey</button>
                <button class="navbutton">What Makes Us Unique</button>
                <button class="navbutton">Testimonials</button>
                <button class="navbutton">Our Team</button>
            </div>
        </div>
        <div class="dropdown"><p>OUR WORK</p>
            <div class="dropdown-content">
                <button class="navbutton">What we've done</button>
                <button class="navbutton">Our Collaborations</button>
            </div>
        </div>
        <div class="dropdown"><p>FUNDRAISING</p>
        </div>
        <div class="dropdown"><p>VOLUNTEER</p>
        </div>

        <div class="dropdown"><p>DONATE NOW</p></div>
    </div>
    <div style="height: 5rem;"></div>
    <section class="carasoul-section">
        <img src="files/left.png" alt="<-" class="arrow left" onclick="go_left()">
        <div class="carasel">
            <div class="images">
                <% for( let i = 0; i < images; i++ ) { %>
                    <img src="files/img carasoul/<%= i+1 %>.jpeg" alt="NGO image" class="slideshow">
                <% } %>
                <img src="files/img carasoul/1.jpeg" alt="NGO image" class="slideshow">

            </div>
        </div>
        <img src="files/right.png" alt="<-" class="arrow right" onclick="go_right()">
        
        <div class="selector">
        </div>
    </section>
    <section class="website-section">
        <h1>Our Mission</h1>
    </section>
    <section class="website-section">
        <h1>Our Journey</h1>
    </section>
    <section class="website-section">
        <h1>What Makes Us Unique</h1>
    </section>
    <section class="website-section">
        <h1>Our Team</h1>
    </section>
    <section class="website-section">
        <h1>What We've Done</h1>
    </section>
    <section class="website-section">
        <h1>Our Collaborations</h1>
    </section>
</body>
</html>