<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CareForAll</title>
    <%- include('partials/header') %>

    <link rel="stylesheet" href="styles/main/index.css">
    <link rel="stylesheet" href="styles/default.css">

    <script src="scripts/volunteers.js" defer></script>
    <script src="scripts/carasel.js" defer></script>
    <script src="scripts/scroll-reveal.js" defer></script>
    <script src="scripts/timeline.js" defer></script>
    <script src="scripts/our-team.js" defer></script>

    <%- include('partials/navbar') %>

</head>
<body>
    <section class="carasoul-section">
        <img src="files/left.png" alt="<-" class="arrow left" onclick="go_left()">
        <div class="carasel">
            <div class="images">
                <% for( let i = 0; i < images; i++ ) { %>
                    <img src="files/img carasoul/<%= i+1 %>.jpeg" alt="NGO image" class="slideshow">
                <% } %>
                <img src="files/img carasoul/1.jpeg" alt="NGO image" class="slideshow">

            </div>
        </div>
        <img src="files/right.png" alt="<-" class="arrow right" onclick="go_right()">
        
        <div class="selector">
        </div>
    </section>

    <section class="website-section" id="mission">
        <h1>Our Mission</h1>
        <div class="simple_content">
            <img src="files/pics/mission.png" alt="our_mission">
            <p class="text">
                CareForAll (CFA) is a non-profit organisation that was birthed with the mission of providing 1000+ of the underprivileged with healthcare and awareness.
                <br><br>
                Along our journey, we have realised that we have the potential to help several more; Thus now instead of aiming for a specific number of lives to impact, our mission is to facilitate  as many of the underprivileged we can provide medical aid and beneficial awareness to.</p>
        </div>
    </section>

    <section class="website-section" id="journey">
    <h1>Key Milestones</h1>
	<div class="entire_timeline">
        <div class="timeline">
                <div class="event">
                    <span data-info="Start"></span>
                </div>
                <div class="event not_end active">
                    <span data-year="14 - 05 - 23" data-info="First medical camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="08 - 06 - 23" data-info="Collaboration with Lending Library"></span>
                </div>
                <div class="event not_end">
                    <span data-year="24 - 06 - 23" data-info="First awarness camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="05 - 08 - 23" data-info="Biggest medical camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="23 - 08 - 23" data-info="Published in Times of India"></span>
                </div>
                <div class="event">
                    <span data-year="19 - 07 - 23" data-info="Now"></span>
                </div>
        </div>
            
        <div class="descripters">
            <div class="journey_content active">
                <h2>First medical camp</h2>
                <div class="date">14/05/2023</div>
                <p class="text">
                    We ran our first medical camp on 14th of May 2023 with the Building Blocks India foundation for 100 children. This camp was intended for the general check-ups and deworming for all of the children, and was a major ‘first’ for CareForAll. Thanks to the cooperation from the Building Blocks team, along with the hard work put in by each of our very first set of volunteers at site, this camp was a huge success! 
                    <br>
                    <br>
                    This camp set the foundation for our journey ahead, gave us the boost of confidence we needed to continue CareForAll’s mission.
                </p>
                <img src="files/pics/first med.png" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Collaboration with lending library</h2>
                <div class="date">08/06/2023</div>
                <p class="text">We expanded our horizons by collaborating with the Lending Library, an organisation which serves as a platform for book and literature exchanges within gated communities in India. Lending Library is majorly deployed in higher income communities, where residents are willing to donate some of their books. By working together, we were able to contribute these charitable donations towards facilitating rural libraries for the underprivileged families.</p>
                <img src="files/pics/lending library.png" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>First awarness camp</h2>
                <div class="date">24/06/2023</div>
                <p class="text">
                    We ran our first awareness camp on 24th of June 2023 with the Diya Ghar foundation, where we educated their young children on the importance of hand washing and the correct technique with which to hand wash. This camp was also a learning experience for us, as we explored new ways we could help the underprivileged outside the realm of medical camps.
                </p>
                <img src="files/pics/awarness.jpeg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Biggest Medical Camp</h2>
                <div class="date">05/08/2023</div>
                <p class="text">We ran our biggest medical camp yet on 5th of August 2023 with Ramagondanahalli Government school for over 300 children. This camp was intended for the general check-ups and diagnosis for all of the children, and showcased how far CareForAll has come as a team and organisation. By mobilising doctors from collaborations with several hospitals and rallying numerous hard-working and dedicated volunteers, we were able to make this large-scale camp run smoothly and push it towards a great success!</p>
                <img src="files/pics/biggest.png" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Published in Times of India</h2>
                <div class="date">23/08/2023</div>
                <p class="text">The CareForAll name had been spreading quite a bit over the past few months, which enabled us to collaborate with more hospitals and doctors, rally a greater number of volunteers, and complete more camps for an increased population. However, CareForAll was first officially publicised on 23rd of August 2023  in the Bangalore Mirror - Times of India newspaper. This publicity allowed us to network with more NGOs and hospitals, and opened new doors of opportunity and chances to collaborate with other great organisations.</p>
                <img src="files/pics/times.jpeg" alt="placeholder">
            </div>
        </div>
    </div>
    </section>

    <section class="website-section" id="unique">
        <h1>What Makes Us Unique</h1>
        <div class="simple_content">
            <img src="files/pics/unique.png" alt="our_mission">
            <p class="text">At CareForAll, we hold medical camps and awareness sessions (where we educate children on simple, effective hygiene techniques they can easily incorporate into their lives; we also inform and register adults for government schemes they can directly benefit from) simultaneously. We firmly believe that it is necessary to hold both medical and awareness sessions, as while the health camp restore the health conditions of individuals, our awareness sessions serve to maintain these stable conditions and prevents families from returning to the same deteriorating conditions that cause a self-perpetuating cycle of disease and illness.
            <br>
            <br>
            Additionally, from the medicines and follow-ups for each individual to the food and drinks we provide at camps and sessions, we fund everything ourselves, leaving the NGOs and schools without any expense of their own.</p>
        </div>
    </section>

    <section class="website-section" id="done_so_far">
        <h1>What We've Done</h1>

        <p class="text">By mobilising and collaborating with doctors from top-tier hospitals —including Sakra World Hospital and Ramaiah Medical College— engaging student volunteers, and collaborating with well-known  NGOs, CareForAll has been able to impact over a number of lives so far through medical camps and awareness sessions. 
        <br>
        <br>
        Our definition of success when it comes to impacting lives isn’t just a one-time interaction, but involves a series of follow-ups to ensure that a positive difference is being made in someone’s life to provide them a better opportunity towards a longer and more hassle-free life.<p/>
        <div class="content counters">

            <div class="counter" final="850" time="1">1</div>
            <div class="counter" final="6" time="0.3">1</div>
            <div class="label">Lives Impacted</div>
            <div class="label">Camps Completed</div>
        </div>
    </section>

    <section class="website-section" id="collaborations">
        <h1>Our Collaborations</h1>
        <div class="content">
            <div class="collab-idcard">
                <img src="files/colabs/ramaiah.jpeg" alt="Ramaiah">
            </div>
            <div class="collab-idcard">
                <img src="files/colabs/building blocks.jpeg" alt="Building Blocks">
            </div>
            <div class="collab-idcard">
                <img src="files/colabs/diya.jpeg" alt="diya ghar ngo">
            </div>
            <div class="collab-idcard">
                <img src="files/colabs/lending-library.jpeg" alt="lending library">
            </div>
            <div class="collab-idcard">
                <img src="files/colabs/sparsh.jpeg" alt="sparsh foundation">
            </div>
            <div class="collab-idcard">
                <img src="files/colabs/ramagundanahlli.png" alt="Ramagondanahalli">
            </div>
        </div>
    </section>

    <section class="website-section" id="team">
        <h1>Our Team</h1>
            <div class="content">
                <div class="idcard founder">
                    <h2>Arnav Raj Aggarwal</h2>
                    <img class="pfp" src="files/profile picture/arnav.jpeg" alt="Arnav">
                    <div class="title">Founder</div>
                    <p div class="discription">As a perseverant and persistent character, Arnav ensures that we constantly build our CareForAll community, spreading our roots to new communities and a wide pool of collaborative NGOs. Founding CareForAll has provided Arnav the opportunity to integrate his passion in the field of medicine along with his love of fostering new connections with a plethora of individuals.</p>
                </div>

                <div class="idcard">
                    <h2>Aishaani Agarwal</h2>
                    <img class="pfp" src="files/profile picture/aishani.jpeg" alt="Aishaani">
                    <div class="title">Head Of Social Marketing</div>
                    <p class="discription">Aishaani, an accomplished student passionate about computer science and filmmaking, holds the prestigious position of Head of Social Media at CareForAll. She excels in creating engaging social content, video editing, and managing social media platforms. Additionally, Aishaani supervises website design and formulates effective media strategies. Her multifaceted skills contribute significantly to the organization's success.</p>
                </div>
                <div class="idcard">
                    <h2>Samrud Reddy</h2>
                    <img class="pfp" src="files/profile picture/samrud.png" alt="dodo">
                    <div class="title">Head Of Web Development</div>
                    <p class="discription">With strong passions for coding as well as giving back to his community, serving as the Head of Web Development has allowed Samrud to explore both simultaneously. Skilled in the fields of critical and analytical thinking, coupled with a desire to learn something new everyday, Samrud applies his vast knowledge in computer science and design to the CareForAll projects online. Samrud’s ability to provide in-depth insight to situations ensures robust brainstorming and creative ideating to the CareForAll processes, enabling us to work better towards fulfilling our mission.</p>
                </div>
                <div class="idcard">
                    <h2>Vinay Shukla</h2>
                    <img class="pfp" src="files/profile picture/vinay.jpeg" alt="vinay">
                    <div class="title">Head of Public Relations</div>
                    <p class="discription">A dedication to social change and a deep interest in giving back to the community empowers Vinay to take on an active role in volunteering. With his skills in communication and public relations he raises awareness on pressing concerns.</p>
                </div>

                <div class="idcard">
                    <h2>Aadith Arun</h2>
                    <img class="pfp" src="files/profile picture/aadith.jpeg" alt="aadith">
                    <div class="title">Digital Designer</div>
                    <p class="discription">Influenced by the sheer power of digital content, Aadith has a desire to make a lasting impact on the community for the greater good as a digital designer for the CareForAll Team through his posters, and videography.</p>
                </div>
                <div class="idcard">
                    <h2>Kaashvi Nigam</h2>
                    <img class="pfp" src="files/profile picture/kaashvi.jpeg" alt="kaashvi">
                    <div class="title">Co-head of Finance</div>
                    <p class="discription">Kaashvi aspires to pursue the field of finance. Under her belt is 3 years of economics, and experience as an intern at multiple start-ups where she has demonstrated agility in decision making, resource allocation and budgeting.</p>
                </div>
                <div class="idcard">
                    <h2>Aarav Mittal</h2>
                    <img class="pfp" src="files/profile picture/aarav.jpeg" alt="aarav">
                    <div class="title">Co-head of Finance</div>
                    <p class="discription">Aarav, driven by his passion for finance, has a history of multiple internships, projects, and fundraising experiences. He hopes to utilise his knowledge to help CareForAll better the world around him and positively impact society.</p>
                </div>

                <div class="idcard">
                    <h2>Pranoy Mathur</h2>
                    <img class="pfp" src="files/profile picture/pranoy.jpeg" alt="pranoy">
                    <div class="title">Digital Designer</div>
                    <p class="discription">Inspired by biological sciences and a passion for social work, Pranoy Mathur hopes to create a lasting impact in India by spreading awareness on healthcare and hygiene.</p>
                </div>
                <div class="idcard">
                    <h2>Paarth Sehgal</h2>
                    <img class="pfp" src="files/profile picture/paarth.jpeg" alt="paarth">
                    <div class="title">Co-head of Fundraising</div>
                    <p class="discription">Paarth's enthusiasm for philanthropy is evident in his years of involvement in humanitarian organisations and experience fundraising. A dedicated individual, he also finds joy in staying active and working out.</p>
                </div>
                <div class="idcard">
                    <h2>Surabhi</h2>
                    <img class="pfp" src="files/profile picture/surabhi.jpeg" alt="surabhi">
                    <div class="title">Co-head of Fundraising</div>
                    <p class="discription">Surabhi envisions a world where medical care is a universal right, not a privilege, where health inequity is myth. Committed to channeling resources where they are needed most, Care For All allows her to contribute to an important social cause.</p>
                </div>

                <div class="idcard">
                    <h2>Kushagr Karn</h2>
                    <img class="pfp" src="files/profile picture/kushagr.jpeg" alt="kushagr">
                    <div class="title">Digital Designer</div>
                    <p class="discription">A love for filmmaking and a passion for social service fuels Kushagr Karn. Sustained pursuits in freelance videography and editing have enabled him to flourish in the realm of digital creation.</p>
                </div>
                <div class="idcard">
                    <h2>Sandhya Sundar</h2>
                    <img class="pfp" src="files/profile picture/sandhya.jpeg" alt="sandhya">
                    <div class="title">Content Creator</div>
                    <p class="discription">Experience, coupled with a keen interest in creative and professional writing motivates Sandhya. With a wish to help children, she sees CareforAll's mission as the perfect segue to securing a future in research and healthcare.</p>
                </div>
                <div class="idcard">
                    <h2>Rehan Tarafdar</h2>
                    <img class="pfp" src="files/profile picture/rehan.jpeg" alt="rehan">
                    <div class="title">Content Creator</div>
                    <p class="discription">Rehan, currently a student, aspires to make a lasting impact on the community and the people around him through his words and ideas. Having written short stories and ran a blog he now uses his skills in content writing and storytelling to create social awareness.</p>
                </div>
            </div>


            <h2>Our Growing Team Of Volunteers</h2>
            <div class="volunteers">
                <div class="volunteer">Aarav Mittal</div>
                <div class="volunteer">Vinay Shukla</div>
                <div class="volunteer">Anushka Garimella</div>
                <div class="volunteer">Eshaan</div>
                <div class="volunteer">Om Mehta</div>
                <div class="volunteer">Ayaan Matheen</div>
                <div class="volunteer">Trilok Reddy</div>
                <div class="volunteer">Advit Arora</div>
                <div class="volunteer">Ananya Jain</div>
                <div class="volunteer">Aarav Srivastava</div>
                <div class="volunteer">Arjun Yadav</div>
                <div class="volunteer">Arnav Aggarwal</div>
                <div class="volunteer">Samrud Reddy</div>
                <div class="volunteer">Aishaani Agarwal</div>
                <div class="volunteer">Abhinav Vallur</div>
            </div>
    </section>

    <%- include('partials/footer') %>

</body>
</html>