<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="files/logo.png">
    <title>CareForAll</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
    <script src="scripts/our-team.js" defer></script>
    <script src="scripts/carasel.js" defer></script>
    <script src="scripts/scroll-reveal.js" defer></script>

    <nav class="navbar">
        <div class="logo"><img src="files/logo.png" alt="Care For All Logo"><p>CareForAll</p></div>
        <div></div>
        <div class="dropdown"><p>ABOUT US</p>
            <div class="dropdown-content">
                <a class="navbutton" href="#mission">Our Mission</a>
                <a class="navbutton" href="#journey">Our Journey</a>
                <a class="navbutton" href="#unique">What Makes Us Unique</a>
                <a class="navbutton" href="#team">Our Team</a>
            </div>
        </div>
        <div class="dropdown"><p>OUR WORK</p>
            <div class="dropdown-content">
                <a class="navbutton" href="#done_so_far">What we've done</a>
                <a class="navbutton" href="#Collaborations">Our Collaborations</a>
            </div>
        </div>
        <div class="dropdown"><p>FUNDRAISING</p>
        </div>
        <div class="dropdown"><p>VOLUNTEER</p>
        </div>

        <div class="dropdown"><p>DONATE NOW</p></div>
    </nav>

</head>
<body>

    <div style="height: 5rem;"></div>

    <section class="carasoul-section">
        <img src="files/left.png" alt="<-" class="arrow left" onclick="go_left()">
        <div class="carasel">
            <div class="images">
                <% for( let i = 0; i < images; i++ ) { %>
                    <img src="files/img carasoul/<%= i+1 %>.jpeg" alt="NGO image" class="slideshow">
                <% } %>
                <img src="files/img carasoul/1.jpeg" alt="NGO image" class="slideshow">

            </div>
        </div>
        <img src="files/right.png" alt="<-" class="arrow right" onclick="go_right()">
        
        <div class="selector">
        </div>
    </section>

    <section class="website-section" id="mission">
        <h1>Our Mission</h1>
        <div class="simple_content">
            <img src="files/placeholder.jpg" alt="our_mission">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab laborum ut minima commodi id consequuntur culpa tempora similique provident, vitae cupiditate impedit rerum repellat omnis minus veniam quasi porro.</p>
        </div>
    </section>

    <section class="website-section" id="journey">
    <h1>Our Journey</h1>
	<div class="entire_timeline">
        <div class="timeline">
                <div class="event">
                    <span data-year="1910" data-info="Start"></span>
                </div>
                <div class="event not_end active">
                    <span data-year="1910" data-info="First med camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="1920" data-info="First awarness camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="1930" data-info="Integration Lending Library"></span>
                </div>
                <div class="event not_end">
                    <span data-year="1940" data-info="Collab with Ramaiah"></span>
                </div>
                <div class="event not_end">
                    <span data-year="1950" data-info="Biggest med camp"></span>
                </div>
                <div class="event not_end">
                    <span data-year="1960" data-info="Mention in Times"></span>
                </div>
                <div class="event">
                    <span data-year="1960" data-info="Now"></span>
                </div>
        </div>
            
        <div class="descripters">
            <div class="journey_content active">
                <h2>our first medical camp</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>our first medical awarness camp</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>our integration with lending library</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Our First Medical Camp</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Our First Medical Camp</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
            <div class="journey_content">
                <h2>Our First Medical Camp</h2>
                <div class="date">17/08/2023</div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cumque voluptatem officiis est laudantium, iste hic dolorem distinctio earum, nostrum consectetur fugiat mollitia dolore eveniet necessitatibus. Illum iste aspernatur quod.</p>
                <img src="files/placeholder.jpg" alt="placeholder">
            </div>
        </div>
    </div>
    </section>

    <section class="website-section" id="unique">
        <h1>What Makes Us Unique</h1>
        <div class="simple_content">
            <img src="files/placeholder.jpg" alt="our_mission">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab laborum ut minima commodi id consequuntur culpa tempora similique provident, vitae cupiditate impedit rerum repellat omnis minus veniam quasi porro.</p>
        </div>
    </section>

    <section class="website-section" id="done_so_far">
        <h1>What We've Done</h1>

        <div class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet atque assumenda provident numquam libero ex illum rem ea molestias quia iste totam, eius, iure quasi sequi cum, omnis deleniti repudiandae.
        Architecto vitae at voluptatem iste velit ab perferendis accusamus, alias, amet mollitia provident eos illo officiis deserunt consectetur, corporis deleniti repellendus aliquid numquam officia aliquam minima minus. Fuga, quod commodi!</div>
        <div class="content counters">

            <div class="counter" final="600" time="1">1</div>
            <div class="counter" final="5" time="0.3">1</div>
            <div class="label">Lives Impacted</div>
            <div class="label">Camps Completed</div>
        </div>
    </section>

    <section class="website-section" id="collaborations">
        <h1>Our Collaborations</h1>
        <div class="content">
            <div class="idcard">
                <h3>Rammiah</h3>
                <img src="files/colabs/1.jpeg" alt="Arnav">
                <p div class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae possimus error provident </p>
            </div>
            <div class="idcard">
                <h3>Samarthanam</h3>
                <img src="files/colabs/2.jpeg" alt="Abhinav">
                <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae possimus error provident </p>
            </div>
            <div class="idcard">
                <h3>Vastava</h3>
                <img src="files/colabs/3.jpeg" alt="Aishaani">
                <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae possimus error provident </p>
            </div>
            <div class="idcard">
                <h3>Ramagondanahalli</h3>
                <img src="files/colabs/4.jpeg" alt="dodo">
                <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae possimus error provident </p>
            </div>
            <div class="idcard">
                <h3>Red Cross</h3>
                <img src="files/colabs/5.jpeg" alt="dodo">
                <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae possimus error provident </p>
            </div>
        </div>
    </section>

    <section class="website-section" id="team">
        <h1>Our Team</h1>
            <div class="content">
                <div class="idcard founder">
                    <h3>Arnav Agarwal</h3>
                    <img src="files/profile picture/arnav.jpeg" alt="Arnav">
                    <div class="title">founder</div>
                    <p div class="discription">A little about yourself etc</p>
                </div>
                <div class="idcard">
                    <h3>Abhinav ???</h3>
                    <img src="files/profile picture/abhinav.jpeg" alt="Abhinav">
                    <div class="title">CFO</div>
                    <p class="discription">A little about yourself etc</p>
                </div>
                <div class="idcard">
                    <h3>Aishaani Agarwal</h3>
                    <img src="files/profile picture/aishani.jpeg" alt="Aishaani">
                    <div class="title">CMO</div>
                    <p class="discription">A little about yourself etc</p>
                </div>
                <div class="idcard">
                    <h3>Samrud Reddy</h3>
                    <img src="files/profile picture/samrud.jpeg" alt="dodo">
                    <div class="title">CTO</div>
                    <p class="discription">A little about yourself etc</p>
                </div>
            </div>

            <h2>Our Growing Team Of Volunteers</h2>
            <div class="volunteers">
                <div class="volunteer">Diya Castillo</div>
                <div class="volunteer">Steven Reynolds</div>
                <div class="volunteer">Brynlee Brock</div>
                <div class="volunteer">Ethan James</div>
                <div class="volunteer">Tessa Cantu</div>
                <div class="volunteer">Braydon Walsh</div>
                <div class="volunteer">Mateo Hutchinson</div>
                <div class="volunteer">Brynlee Brock</div>
                <div class="volunteer">Abbey Sosa</div>
                <div class="volunteer">Sabrina Bird</div>
            </div>
    </section>
    <footer class="website-section">
        <h1>Contact Us</h1>
        <div class="content">
            <div class="left">
                <div><span>Email</span>: careforall@gmail.com</div>
                <div><span>Telophone</span>: 9972955566</div>
                <div><span>Instagram</span>: @CareForAll1000</div>
            </div>
            <form class="right">
                <div class="form_wrapper">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>

                <div class="form_wrapper">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>

                <label for="msg">Message</label>
                <textarea id="msg" name="msg" rows="4" placeholder="Enter Your Message Here"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>
    </footer>
</body>
</html>