<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300;400;500;700&display=swap');
      </style>
    <link rel="shortcut icon" href="files/logo.png">
    <title>Care For All</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
    <script src="scripts/main-page.js" defer></script>

</head>
<body>
    <div class="navbar">
        <div class="logo"><img src="files/logo.png" alt="Care For All Logo"><p>Care For All</p></div>
        <div></div>
        <div class="dropdown"><p>ABOUT US</p>
            <div class="dropdown-content">
                <button class="navbutton">Work done</button>
                <button class="navbutton">Lives impacted</button>

                <button class="navbutton">Our collaborations</button>
                
                <button class="navbutton">Our team</button>
                
            </div>
        </div>
        <div class="dropdown"><p>VOLUNTEER</p>
            <div class="dropdown-content">
                <button class="navbutton">Fund raising events</button>
                <button class="navbutton">Want to Volunteer</button>
            </div>
        </div>

        <div class="dropdown"><p>DONATE NOW</p></div>
    </div>
    <div style="height: 5rem;"></div>
    <section class="carasoul-section">
        <img src="files/left.png" alt="<-" class="arrow left" onclick="move_slide_forward(false)">
        <div class="carasel">
            <div class="images">
                <img src="files/img carasoul/1.jpeg" alt="NGO image" class="slideshow">
                <img src="files/img carasoul/2.jpeg" alt="NGO image" class="slideshow">
                <img src="files/img carasoul/3.jpeg" alt="NGO image" class="slideshow">
            </div>
        </div>
        <img src="files/right.png" alt="<-" class="arrow right" onclick="move_slide_forward(true)">
        
        <div class="selector">
        </div>
    </section>
    <section class="website-section">
        <h1>What is Care For All</h1>
    </section>
    <section class="website-section">
        <h1>What we do</h1>
    </section>
    <section class="website-section">
        <h1>Our Mission</h1>
    </section>
    <section class="website-section">
        <h1>Our journey</h1>
    </section>
    <section class="website-section">
        <h1>What we have done so far</h1>
    </section>
    <section class="website-section">
        <h1>Number of lives impacted</h1>
    </section>
    <section class="website-section">
        <h1>Our collabrations with NGO's</h1>
    </section>
</body>
</html>