<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are a NGO aimed at helping 1000 under privlieged kids by diagnosing them and buying them medicine">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link async href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="files/logo.png">
    <title>Volunteers</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>

    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/volunteer/index.css">

    <%- include('partials/navbar') %>

</head>
<body>
    <div style="height: 5rem;"></div>
    <h1 class="first">Join the CareforAll team</h1>
    <h1>and become a volunteer for our<br>upcoming medical and awareness camps</h1>
    <section>
        <h2>Our upcomming camps</h2>
        <div class="event">
            <h3>Ramaiaha</h3>
            <div class="label"><span>Date:-</span>17-06-2023</div>
            <div class="label"><span>Time:-</span>5:00 pm</div>
            <div class="label"><span>Venue:-</span>14/1, Kodigehalli Main Rd, CQAL Layout, Sahakara Nagar</div>
            <div class="label"><span>Venue link:-</span><a href="https://goo.gl/maps/ogYzNMCUu1Xh2KGa9" target="_blank">https://goo.gl/maps/ogYzNMCUu1Xh2KGa9</a></div>
            <div class="label"><span>Description:-</span>A good camp for would be doctors</div>
        </div>

        <div class="event">
            <h3>Random NGO</h3>
            <div class="label"><span>Date:-</span>12-08-2023</div>
            <div class="label"><span>Time:-</span>3:00 pm</div>
            <div class="label"><span>Venue:-</span>33rd Main Rd, MG Layout, JP Nagar VI Phase, J P Nagar</div>
            <div class="label"><span>Venue link:-</span><a href="https://goo.gl/maps/ogYzNMCUu1Xh2KGa9" target="_blank">https://goo.gl/maps/ogYzNMCUu1Xh2KGa9</a></div>
            <div class="label"><span>Description:-</span>A good camp for would be lawyers</div>
        </div>
    
    <div class="button_wrapper"><button class="submit_button">Voulnteer<br>Now!</button></div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>