@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../_colors';

body{
    text-align: center;
}

.text{
    font-size: clamp(0.9rem, 3vw, 1.4rem);
    line-height: clamp(1.4rem, 4vw, 2rem);
    font-weight: 500;

    color: #ccc;
}

h1{
    margin-block: 3rem;
    margin-inline: auto;
    width: min(60ch, calc(100vw - 5rem));
    font-size: clamp(1.4rem, 5vw, 1.9rem);
    line-height: clamp(1.9rem, 6vw, 3rem);
;

    font-weight: 400;
}

h2{
    margin-block: 3rem;
    margin-inline: auto;
    width: min(55ch, calc(100vw - 7rem));
    font-size: clamp(1.1rem, 4.2vw, 1.4rem);
    line-height: clamp(1.2rem, 5vw, 2rem);

    font-weight: 400;
}

ul{
    text-align: start;
    width: min(100ch, calc(100vw - 5rem));
    margin-inline: auto;

    li{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        grid-column-gap: 2rem;

        align-items: center;
        justify-content: space-between;
        justify-items: center;
        margin-block: 8rem;

        p{
            grid-area: a;
        }
        
        img {
            grid-area: b;
            max-height: 20rem;
            max-width: 100%;
        }

        &:nth-child(even){
            grid-template-areas: "b a";
        }
    }
}

@media screen and (width < 900px) {
    li {
        text-align: center;
        grid-template-areas: "b"
                             "a" !important;
        grid-template-rows: auto 1fr;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr !important;
    }
}

h3{
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    margin-inline: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.donate {
    padding: 1rem;
    font-size: 2rem;
    background-color: $background;
    border: white 2px solid;
    border-radius: 1rem;
    color: white;

    &:hover{
        opacity: 60%;
    }
}