h1{
    text-align: center;
    font-size: 3rem;
    margin-block: 5rem;
}

.text{
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: clamp(1.2rem, 3vw, 1.4rem);
    font-weight: 500;

    color: #ccc;
}


.body {
    width: min(100ch, 80vw);
    margin-inline: auto;

    .head {
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;

        column-gap: 2rem;

        font-size: 1.4rem;
        font-weight: 600;
        
        .share {
            height: 100%;

            display: grid;
            justify-items: end;
            justify-content: end;

            grid-template-columns: repeat(4, auto);
            align-items: center;

            gap: 0.5rem;

            a:hover {
                opacity: 80%;
            }

            img {
                height: min(2.4rem, 6vw);
                aspect-ratio: 1 / 1;
            }
        }
    }

    .blog {
        text-align: center;
        margin-block: 1rem;
        margin-bottom: 5rem;
    }

    img {
        width: 100%;
        aspect-ratio: auto;
    }
}

@media screen and (width < 700px){
    .body {
        .head {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            justify-items: center;

            .share {
                grid-column: 1 / 3;
                justify-content: center;
            }
        }
    }
}