@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../_colors';

body{
    text-align: center;
}

h1{
    margin-block: 3rem;
    margin-inline: 12rem;
    font-size: 1.9rem;
    line-height: 3rem;

    font-weight: 400;
}

h2{
    margin-block: 5rem;
    margin-inline: 10rem;
    font-size: 1.4rem;
    line-height: 2rem;

    font-weight: 400;
}

ul{
    text-align: start;
    margin-inline: auto;
    width: 100ch;
    transform: translateX(-2ch);

    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 8rem;
        p {
            font-size: 1.4rem;
            line-height: 2rem;
            padding-inline: 4rem;
        }
        img {
            width: 50%;
        }

        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }

}


h3{
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    font-size: 2rem;
    font-weight: 600;
}

.donate {
    padding: 1rem;
    font-size: 2rem;
    background-color: $background;
    border: white 2px solid;
    border-radius: 1rem;
    color: white;

    &:hover{
        opacity: 60%;
    }
}