@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../_colors';

.first{
    color: white;

    font-weight: 600;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;

}

h1{
    font-size: 2.4rem;
    color: #aaa;

    margin-bottom: 4rem;
    width: min(40ch, 80%);
    margin-inline: auto;

    font-weight: 300;

    text-align: center;
}

section{
    text-align: center;
    
    margin-inline: 5rem;
    


    h2{
        font-size: 2.4rem;
        text-transform: capitalize;

        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

}

.event{
    text-align: start;
    margin-block: 5rem;

    display: grid;
    justify-content: center;


    &:first-of-type{
        margin-top: 2rem;
    }

    h3{
        text-align: center;
        font-size: 2rem;

        margin-block: 1.8rem;
        font-weight: 500;
    }

    .label{
        font-size: 1.3rem;
        margin-block: 0.3rem;

        display: flex;
        transform: translateX(5%);


        .left{
            font-weight: 600;
            flex-shrink: 0;
            width: 12ch;
        }

        .right{
            text-align: left;
            color: #ccc;
        }
        a{
            color: #009fff;
            &:hover{
                color: #0080c0;
            }
        }
    }
    
   .submit{
        transform: translateX(-50%);
        margin-left: 50%;
        margin-top: 1rem;

        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        background-color: inherit;
        border: none;
        color: white;

        &:hover {
            opacity: 0.5;
        }
   } 
}

.why_us{
    color: white;

    font-weight: 400;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}

.why_us_p{
    width: min(65ch, 90%);
    margin-inline: auto;
    margin-block: 2rem;

    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
}